@use '../../styles/variables';
@import '../../styles/media';

.formWrapper {
    background-color: variables.$neutral-grey-1;
    padding: 64px 32px;
    width: 539px;
    display: flex;
    justify-content: center;
    margin-top: 0px;

    .formWithLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 0px;

        .logo {
            width: 309px;

            @include m {
                width: 200px;
            }
        }

        .formTabs {
            width: 100%;
        }

        @include m {
            gap: 30px;
            margin-top: 18px;
        }
    }

    @include m {
        margin-top: -6px;
        padding: 12px;
        width: 328px;
    }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: variables.$primary-light-6;
}

.ant-tabs-ink-bar {
    background: variables.$primary-light-6;
}

.ant-tabs-nav-list {
    width: 100%;
}

.ant-tabs-tab {
    font-family: 'Inter', sans-serif;
    width: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
