@use '../../styles/variables';
@import '../../styles/media';

.formWrapper {
    background-color: variables.$neutral-grey-1;
    padding: 64px 32px;
    width: 539px;
    display: flex;
    justify-content: center;
    margin-top: 0px;

    .formWithLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 0px;

        .logo {
            width: 309px;

            @include m {
                width: 200px;
            }
        }

        .formTabs {
            width: 100%;
        }

        @include m {
            gap: 30px;
            margin-top: 18px;
        }
    }

    @include m {
        margin-top: -6px;
        padding: 12px;
        width: 328px;
    }
}

.ant-tabs-nav-wrap {
    .ant-tabs-nav-list {
        width: 100%;

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
            color: variables.$primary-light-6;
        }
        .ant-tabs-ink-bar {
            background: variables.$primary-light-6;
        }

        .ant-tabs-tab {
            flex: 1;
            display: flex;
            justify-content: center;
            margin: 0;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            padding-bottom: 10px;

            @include m {
                font-size: 14px;
            }
        }
    }
}
