@use '../../../../../../styles/variables';
@import '../../../../../../styles/media';

.menu {
    font-weight: 500;

    li > span:first-child {
        @include m {
            display: none;
        }
    }
    svg {
        color: variables.$primary-light-9;
    }
}

.menuCollapsed {
    font-weight: 500;
    align-items: center;

    li > span:nth-child(2) {
        display: none;
    }

    svg {
        color: variables.$primary-light-9;
    }
}

.ant-menu .ant-menu-item {
    @include m {
        padding: 0;
    }
}
