@use '../../../styles/variables';
@import '../../../styles/media';

.card {
    margin-top: -5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 419px;
    width: 539px;

    .form {
        height: 291px;
        width: 368px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .btn {
            width: 100%;
            background-color: variables.$primary-light-6;
        }

        @include m {
            width: 296px;
            height: 322px;
        }
    }

    @include m {
        height: 386px;
        width: 328px;
    }
}
